<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<!--<h1 th:text="${user.name}">请登录</h1>-->
<h1>
    <p>Name：<span th:text="${user.name}">!</span></p>
    <p>Age：<span th:text="${user.age}">!</span></p>
    <p>Friend：<span th:text="${user.friend.name}">!</span></p>
</h1>
<!--用 `th:object="${user}"`获取user的值，并且保存-->
<h2 th:object="${user}">
    <p>Name:<span th:text="*{name}">1</span></p>
    <p>Age:<span th:text="*{age}">1</span></p>
    <p>Friend:<span th:text="*{friend.name}">1</span></p>
</h2>
<h2 th:object="${user}">
    <p>FirstName:<span th:text="*{name.split(' ')[0]}">1</span></p>
    <p>LastName:<span th:text="*{name.split(' ')[1]}">1</span></p>
</h2>
<h2>
    <!--字符串拼接-->
    <p><span th:text="'欢迎您:' + ${user.name} + '!'"></span></p>
    <p><span th:text="|欢迎您:${user.name}|"></span></p>
</h2>
<h2>
    <p><span th:text="${user.age}"></span></p>
    <p><span th:text="${user.age}%2 == 0"></span></p>
</h2>
</body>
</html>